html,
body,
#root, #root>#app {
  height: 100%;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  position: relative;
}

#root {
  #app {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    >section {
      flex: 1 1 auto;
    }

    >footer {
      flex: 0 0 auto;
      padding: 15px;
      background: rgb(178, 150, 255);
      box-sizing: border-box;

      display: flex;

      >.left {
        flex: 1 1 auto;
      }

      >.right {
        flex: 0 0 auto;
      }
    }
  }
}
